<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteArrayStream" version="1.0.5" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="EPPlus" version="7.7.3" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="8.4.0" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="7.7.0" targetFramework="net48" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net48" />
  <package id="Localization.SqlLocalizer" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Localization" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.InMemory" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="net48" />
  <package id="OdsReaderWriter" version="1.0.14" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections" version="4.0.11" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.SqlLocalDb" version="1.15.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="10.0.6" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net48" />
  <package id="System.Linq" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net48" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.4" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net48" />
  <package id="System.Threading" version="4.0.11" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="WPF-UI" version="4.2.0" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.2.0" targetFramework="net48" />
</packages>